body {
    height: 100vh;
    width: 100%;
    background-color: #0c0d24!important;
}
.fsContainer {
    min-width: 100%;
    min-height: 100vh;
    background-image: url("./../images/back-с.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
}

#sunIcon img{
    position: absolute;
}



#topLogoAndMenu div {
    text-align: center;
}







.decoration {
    display: flex;
    justify-content: center;
}

.points {
    margin-top: 2rem;
}
.pointsButtons {
    padding-top: 2rem;
}
.points img {
    height: 3rem;
}





@media (min-width: 174.98px) {
    header {
        min-height: 26vh;
    }
    .fsContainer {
        background-size: 160% auto;
    }
    #sunIcon img {
        top: 4%;
        left: 7%;
        height: 3rem;
    }
    #topLogoAndMenu {
        padding-top: 1rem;
    }
    #iconsMenu img {
        padding: 5px;
        height: 2rem;
    }
    #logoMenu img {
        height: 5rem;
    }
    #iconsMenu img:nth-child(2) {
        margin-bottom: 1rem;
    }
    #buttonsMenu {
        padding-top: 1rem;
        display: grid;
        justify-content: center;
    }
    #buttonsMenu img {
        height: 1rem;
    }
    #buttonsMenu h2{
        color: white;
        min-height: 28px;
        font-size: 18px!important;
    }
    .decoration img {
        height: 3.5rem;
    }
    #feedback {
        height: 2rem;
    }
    .pointsButtons, .d-flex {
        display: grid!important;
    }
    .pointsButtons img {
        height: 5rem;
        margin-top: 1rem;
        display: grid!important;
    }
    .arrow {
        height: 0rem!important;
    }
}

@media (min-width: 286.98px) {
    .fsContainer {
        background-size: 140% auto;
    }
    #sunIcon img {
        top: 2%;
        left: 11%;
        height: 5rem;
    }

    #topLogoAndMenu {
        padding-top: 4rem;
    }
    #iconsMenu img {
        padding: 5px;
        height: 2rem;
    }
    #logoMenu img {
        height: 8rem;
    }
    #iconsMenu img:nth-child(2) {
        margin-bottom: 1rem;
    }
    #buttonsMenu {
        padding-top: 3rem;
        display: grid;
        justify-content: center;
    }
    .decoration img {
        height: 6rem;
    }
    
    #feedback {
        height: 3rem;
    }
    .pointsButtons img {
        height: 4rem;
    }
    .pointsButtons, .d-flex {
        display: grid!important;
    }
    .pointsButtons img {
        height: 7rem;
        margin-top: 1rem;
        display: grid!important;
    }
    
}
@media (min-width: 564.98px) {
    .fsContainer {
        background-size: 130% auto;
    }
    #sunIcon img {
        top: 5%;
        left: 13%;
        height: 7rem;
    }
    #topLogoAndMenu {
        padding-top: 1rem;
    }
    #iconsMenu img {
        padding: 5px;
        height: 2.2rem;
    }
    #logoMenu img {
        height: 7rem;
    }
    #iconsMenu img:nth-child(2) {
        margin-bottom: 1rem;
    }
    #buttonsMenu img {
        height: 0.9rem;
    }
    #buttonsMenu {
        padding-top: 1rem;
        display: flex;
        justify-content: center;
    }
    .decoration img {
        height: 8rem;

    }
    .decoration {
        margin-top: 9rem;
    }
    .pointsButtons img {
        height: 5rem;
    }
    #welcomeText {
        height: 5rem;
    }
    .pointsButtons, .d-flex {
        display: flex!important;
    }
    .pointsButtons img {
        height: 5rem;
        margin-top: 1rem;
        display: flex!important;
    }
    #buttonsMenu h2{
        font-size: 14px!important;
        color: black;
    
    }
}
@media (min-width: 728.98px) {
    .fsContainer {
        background-size: 120% auto;
    }
    #sunIcon img {
        top: 6%;
        left: 15%;
        height: 9rem;
    }
    #topLogoAndMenu {
        padding-top: 3rem;
    }
    .decoration img {
        height: 12rem;

    }
    .decoration {
        margin-top: 14rem;
    }
    #feedback {
        height: 4rem;
    }
    .pointsButtons img {
        height: 6rem;
    }
    #welcomeText {
        height: 6rem;
    }
    .arrow {
        height: 2rem!important;
    }
    #buttonsMenu h2{
        color: black;
        font-size: 18px!important;
    }
}

@media (min-width: 1360.98px) {
    header {
        min-height: 46vh;
    }
    .fsContainer {
        background-size: 110% auto;
    }
    #sunIcon img {
        top: 8%;
        left: 15%;
        height: 12rem;
    }
    #topLogoAndMenu {
        padding-top: 8rem;
    }
    #iconsMenu img {
        padding: 5px;
        height: 2.5rem;
    }
    #logoMenu img {
        height: 10rem;
    }
    #iconsMenu img:nth-child(2) {
        margin-bottom: 1rem;
    }
    #buttonsMenu img {
        height: 1.1rem;
    }
    .pointsButtons img {
        height: 7rem;
    }
    #welcomeText {
        height: 7rem;
    }
    .arrow {
        height: 3rem!important;
    }
}

@media (min-width: 1710.98px) {
    .fsContainer {
        background-size: 100% auto;
    }
    #sunIcon img {
        top: 9%;
        left: 18%;
        height: 14rem;
    }
    #topLogoAndMenu {
        padding-top: 12rem;
    }
    #iconsMenu img {
        padding: 5px;
        height: 3rem;
    }
    #logoMenu img {
        height: 12rem;
    }
    #iconsMenu img:nth-child(2) {
        margin-bottom: 1rem;
    }
    #buttonsMenu img {
        height: 1.2rem;
    }
    .pointsButtons img {
        height: 8rem;
    }
    #welcomeText {
        height: 8rem;
    }
    .arrow {
        height: 4rem!important;
    }
}